<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<body>
  {{> header}}
<h1>{{pageTitle}}</h1>vv
<a href="/index">index</a>
<a href="/content">content</a> 
<footer>
{{> footer}}
</footer>
</body>
